.tema-uno{
  background-color: #83a8f1;
}

.tema-dos{
  padding-top: 20px;
  color: darkblue;
}
.tema-tres{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
}
