<div class="d-flex p-2 m-5"></div>
<div class="container">
  <h2>Formulario Reactivo</h2>
  <div class="card border-primary colmd-12">
    <div class="card-header bg-info">
      <strong>Datos Generales</strong>
    </div>
    <div class="card-body">
      <form class="mt-3" (ngSubmit)="guardar()" [formGroup]="formularioGeneral">
        <div class="form-group row">
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder="Nombre"
              formControlName="nombre"
              [class]="esCampoValido('nombre')"
            />
            <div class="invalid-feedback">
              <!-- aqui la validación-->
              <span
                *ngIf="formularioGeneral.get('nombre')?.errors?.['required']"
              >
                Requiere un nombre
              </span>
              <span
                *ngIf="formularioGeneral.get('nombre')?.errors?.['pattern']"
              >
                Nombre no valido
              </span>
            </div>
          </div>
          <!-- aquí otro input-->
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder="Apellido"
              formControlName="apellido"
              [class]="esCampoValido('apellido')"
            />
            <div class="invalid-feedback">
              <!-- aqui la validación-->
              <span
                *ngIf="formularioGeneral.get('apellido')?.errors?.['required']"
              >
                Requiere un apellido
              </span>
              <span
                *ngIf="formularioGeneral.get('apellido')?.errors?.['pattern']"
              >
                Apellido no valido
              </span>
            </div>
          </div>

          <!-- aquí otro input de tipo email-->
          <div class="form-group form-float mt-3">
            <input
              type="email"
              class="form-control"
              placeholder="Correo"
              formControlName="correo"
              [class]="esCampoValido('correo')"
            />

            <div class="invalid-feedback">
              <!-- aqui la validación-->
              <span
                *ngIf="formularioGeneral.get('correo')?.errors?.['required']"
              >
                Requiere un apellido
              </span>
              <span
                *ngIf="formularioGeneral.get('correo')?.errors?.['pattern']"
              >
                Apellido no valido
              </span>
            </div>
          </div>
        </div>
          <!-- Fin del input email-->
          <div class="form-group row">
            <div class="form-group col-md-6 mt-1">
              <label>Genero</label>
              <div class="form-check form-check-inline m-3">
                <input
                  type="radio"
                  class="form-check-input"
                  formControlName="genero"
                  value="Mujer"
                  [class]="esCampoValido('genero')"
                />
                <label class="form-check-lable">Mujer</label>
              </div>
              <!-- Fin del input mujer-->
              <div class="form-check form-check-inline m-3">
                <input
                  type="radio"
                  class="form-check-input"
                  formControlName="genero"
                  value="Hombre"
                  [class]="esCampoValido('genero')"
                />
                <label class="form-check-lable">Hombre</label>
              </div>
            </div>
            <div class="form-group form-float mt-3">
              <input
                type="date"
                class="form-control"
                placeholder="dd-mm-yyyy"
                formControlName="fecha"
                [class]="esCampoValido('fecha')"
              />

              <div class="invalid-feedback">
                <!-- aqui la validación-->
                <span
                  *ngIf="formularioGeneral.get('fecha')?.errors?.['required']"
                >
                  Requiere una fecha
                </span>
                <span
                  *ngIf="formularioGeneral.get('fecha')?.errors?.['pattern']"
                >
                  Fecha no valida
                </span>
              </div>
            </div>

          </div>
            <!-- Fin del input mujer-->
            <div class="form-group row">
              <div class="form-group form-float mt-3">

                <textarea
                  row="3"
                  class="form-control"

                  formControlName="mensaje"
                  [class]="esCampoValido('mensaje')"
                > </textarea>
                <label class="floatingInput">Mensaje</label>

                <div class="invalid-feedback">
                  <!-- aqui la validación-->
                  <span
                    *ngIf="formularioGeneral.get('mensaje')?.errors?.['required']"
                  >
                    Requiere un mensaje
                  </span>
                  <span
                    *ngIf="formularioGeneral.get('mensaje')?.errors?.['minleght']"
                  >
                    Tamaño minimo{{formularioGeneral.get('mensaje')?.errors?.['minlength']?.requiredLength}}
                  </span>
                  <span
                    *ngIf="formularioGeneral.get('mensaje')?.errors?.['maxleght']"
                  >
                    Tamaño Maximo{{formularioGeneral.get('mensaje')?.errors?.['maxlength']?.requiredLength}}
                  </span>
                </div>
              </div>
              </div>
              <div class="form-group row">
                <div class="form-group cold-md-4 mt-1">
                  <label >Departamento</label>
                  <select

                    class="form-control form-select"

                    formControlName="departamento"
                    [class]="esCampoValido('departamento')"
                    (ngModelChange)="deptoChange($event)"
                  >
                  <option value="">los departamentos</option>

                  <option *ngFor="let dpt of departamentos" [ngValue]="dpt.codigo">{{dpt.na2}}</option>
                </select>

                  <div class="invalid-feedback">
                    <!-- aqui la validación-->
                    <span
                      *ngIf="formularioGeneral.get('departamento')?.errors?.['required']"
                    >
                      Requiere un departamentos
                    </span>

                  </div>
                </div>

                <div class="form-group cold-md-4 mt-1">
                  <label >Municipio</label>
                  <select

                    class="form-control form-select"

                    formControlName="municipio"
                    [class]="esCampoValido('municipio')"
                    (ngModelChange)="muniChange($event)"
                  >
                  <option value="">los municipios</option>
                  <option *ngFor="let muni of municipios" [ngValue]="muni.codigo">{{muni.nam}}</option>
                </select>

                  <div class="invalid-feedback">
                    <!-- aqui la validación-->
                    <span
                      *ngIf="formularioGeneral.get('municipio')?.errors?.['required']"
                    >
                      Requiere un municipio
                    </span>

                  </div>
                </div>

                <div class="form-group cold-md-4 mt-1">
                  <label >Urbana Canton</label>
                  <select

                    class="form-control form-select"

                    formControlName="canton"
                    [class]="esCampoValido('canton')"
                  >
                  <option value="">Seleccione</option>
                  <option *ngFor="let ctn of cantones" [ngValue]="ctn.codigo">{{ctn.nam}}</option>
                </select>

                  <div class="invalid-feedback">
                    <!-- aqui la validación-->
                    <span
                      *ngIf="formularioGeneral.get('canton')?.errors?.['required']"
                    >
                      Requiere un canton
                    </span>

                  </div>
                </div>

              </div>
              <!-- aqui fin del select-->

              <div class="form-group row mt-2" formGroupName="direccion">
                  <div class="form-group col-md-6">
                    <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Ubicacion"
                    formControlName="ubicacion"
                    [class]="noRequiereValor('direccion.ubicacion')"
                  />
                  </div>
                  <div class="form-group col-md-6">
                    <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Colonia/barrio"
                    formControlName="colonia"
                    [class]="noRequiereValor('direccion.colonia')"
                  />
                  </div>
              </div>

              <div class="form-group row">
                <div class="form-group row mt-2" formGroupName="gustos">
                  <label >Colores Favoritos</label>
                  <div class="form-check form-check-inline m-3">
                    <input
                    type="checkbox"
                    class="form-check-input"

                    formControlName="verde"
                    [class]="noRequiereValor('verde')"
                  />
                  <label class="form-check-label">Verde</label>
                  </div>

                  <div class="form-check form-check-inline m-3">
                    <input
                    type="checkbox"
                    class="form-check-input"

                    formControlName="rojo"
                    [class]="noRequiereValor('rojo')"
                  />
                  <label class="form-check-label">Rojo</label>
                  </div>

                  <div class="form-check form-check-inline m-3">
                    <input
                    type="checkbox"
                    class="form-check-input"

                    formControlName="negro"
                    [class]="noRequiereValor('negro')"
                  />
                  <label class="form-check-label">Negro</label>
                  </div>

                </div>
                <div class="form-check form-switch col-md-6 mt-3">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Estado</label>

                  <input
                  type="checkbox"
                  class="form-check-input"

                  formControlName="estado"
                  [class]="esCampoValido('negro')"
                />
                </div>

              </div>

              <!-- aquí otro input de tipo email-->
          <div class="form-group col-md-4">
            <label class="form-label mt-4">Salario</label>
            <div class="form-group">

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input
              type="text"
              class="form-control"
              placeholder="Salario"
              formControlName="salario"
              [class]="esCampoValido('salario')"/>
              <div class="invalid-feedback">
                <!-- aqui la validación-->
                <span
                  *ngIf="formularioGeneral.get('correo')?.errors?.['required']"
                >
                  Requiere un apellido
                </span>
                <span
                  *ngIf="formularioGeneral.get('correo')?.errors?.['pattern']"
                >
                  Apellido no valido
                </span>
              </div>
              </div>

            </div>



          </div>

         <!-- aqui fin del salario -->
          <hr>
          <div class="row">
            <div class="col">
              <table class="table table-hover">
                <thead>
                  <tr class="table-dark">
                    <th>N</th>
                    <th>Pasatiempos</th>
                    <th>Quitar</th>
                  </tr>
                </thead>
                <tbody formArrayName="pasatiempos">
                  <tr *ngFor="let control of pasatiempos.controls; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>
                      <input type="text" class="form-control" [formControlName]="i"/>
                    </td>
                    <td>
                      <button (click)="borrarPasatiempo(i)" class="btn btn-danger">Quit</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-primary mt-3 mb-5 btn-block"
              (click)="agregarPasatiempo()">Agregar</button>
            </div>
          </div>




        <button type="submit" class="btn btn-sm btn-outline-info mt-sm-2">
          <i class="bi bi-database-add"></i>Guardar
        </button>
      </form>
    </div>
  </div>
  <hr>
  <p>
    Form value : {{ formularioGeneral.value | json }}
  </p>
  <hr>
</div>
