<div class="container mt-5">

<h1 [ngStyle]="{'color':colorEstado}">Trabajo con ngStyle</h1>
<h2 [ngStyle]="{'color':color}">Con Objeto y metodos</h2>
<h3 [ngStyle]="{'color':message===1 ? 'green':'red'}">Mensaje condicional</h3>
<hr>

<br>
<p [style.fontSize.px]="size">
  Con NgStyle cambiamos el style: fontsize del texto.
</p>
<button class="btn btn-prymari m1" (click)="size= size+5">+</button>
<button class="btn btn-prymari m1" (click)="size= size-5">-</button>
<hr>
<button class="btn" [class.btn-prymary]="bandera" (click)="bandera=!bandera" >Enviar</button>
</div>
