<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <h1>Calendario de Actividades</h1>
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>
<ng-template #templateNuevo>
  <div class="modal-header bg-primary text-white">
    <h4 class="modal-title pull-left">Agregar Eventos</h4>
    <button type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="modalRef?.hide()">
    <span aria-hidden="true" class="visually-hidden">
      &times;
    </span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="guardarEvento()" [formGroup]="formEvento">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="form-label">Evento</label>
            <input type="text" class="form-control" placeholder="Ingresar el evento"
           name="title" formControlName="title" />
          </div>
        </div>
      </div>
      <div class="text-end mt-2">
          <button type="button" class="btn btn-light me-1"  (click)="closeEventModal()">
             Close
          </button>
          <button type="submit" class="btn btn-success" id="btn-save-event">
            Save
          </button>
              </div>
    </form>
  </div>
</ng-template>

<ng-template #templateEditar>
  <div class="modal-header bg-primary text-white">
    <h4 class="modal-title pull-left">Editar Eventos</h4>
    <button type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="modalRef?.hide()">
    <span aria-hidden="true" class="visually-hidden">
      &times;
    </span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="guardarEdicion()" [formGroup]="formEditEvento">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="form-label">Evento</label>
            <input type="text" class="form-control" placeholder="Ingresar el evento"
           name="title" formControlName="title" />
          </div>
        </div>
      </div>
      <div class="text-end mt-2">
          <button type="button" class="btn btn-light me-1"  (click)="closeEventModal()">
             Close
          </button>
          <button type="submit" class="btn btn-success" id="btn-save-event">
            Save
          </button>
              </div>
    </form>
  </div>
</ng-template>
