<div class="container mt-5">
  <h1>Trabajando con *ngSwitch</h1>
  <hr />
  <div class="p-5 bg-light">
    <h1 class="display-4">
      Alertas
    </h1>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-sm-12">
          <div [ngSwitch]="opcion">
            <div class="container text-success" *ngSwitchCase="opcion">
              Ha seleccionado la alerta <b>{{ opcion }} </b>
            </div>
            <div class="container text-success" *ngSwitchDefault>
              <b>Sin selección </b>
            </div>
          </div>
          <div class="card-columns">
            <!-- uso del evento bingdin(click)="metodo()"-->
            <button class="btn btn-outline-primary btn-block btn-lg m-3" (click)="mostrarAlerta(random)"> Opción
              {{opcion}} ...
            </button>
          </div>
          <hr class="mt-5" />
        </div>
      </div>
    </div>
    <!-- aqui el ejemplo 2-->


    <h3>Segundo ejemplo</h3>

    <div [ngSwitch]="tipoAlerta">
      <div *ngSwitchCase="tipoAlerta">{{tipoAlerta}}</div>
      <div *ngSwitchDefault>danger</div>
    </div>

    <button type="button" class="btn btn-primary" (click)="alerta">Cambiar</button>

    <hr/>
    <div [ngSwitch]="tipoAlerta">
      <div *ngSwitchCase="tipoAlerta" class="alert alert-{{tipoAlerta}}" role="alert">
        Ejemplo de la alerta
      </div>
      <div *ngSwitchDefault="tipoAlerta" class="alert alert-{{tipoAlerta}}" role="alert">
        Ejemplo de la alerta
      </div>
    </div>
  </div>
</div>

