<section class="py-5 border-bottom">
  <div class="container px-5">
    <div class="row gx-5">
      <div class="col-lg-4">
        <!-- modulo1 -->
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <img [src]="modulo1" alt="" class="card-img-top mt-2 " alt="..." />
        </div>
        <h2 class="h4 fw-bolder text-info mb-2">FRONTEND</h2>
        <P>Parte del desarrollo web que se dedica a la parte frontal de un sitio web</P>
      </div>
      <!-- modulo2 -->
      <div class="col-lg-4">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <img [src]="modulo2" alt="" class="card-img-top mt-2 " alt="..." />
        </div>
        <h2 class="h4 fw-bolder text-info mb-2">BACKEND</h2>
        <P>Procesa la informacion que alimentara el frontend de datos</P>
      </div>
      <!-- modulo3 -->
      <div class="col-lg-4">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <img [src]="modulo3" alt="" class="card-img-top mt-2 " alt="..." />
        </div>
        <h2 class="h4 fw-bolder text-info mb-2">DESPLIEGUE</h2>
        <P>Procesa la informacion que alimentara el frontend de datos</P>
      </div>
    </div>
  </div>
</section>
