<input type="file" class="file-input"
(change)="onFileSelected($event)"
#fileUpload>

<div class="file-upload">
  <button type="button" class="btn btn-primary mt-2"
  (click)="subir()" >Subir</button>
</div>

<div class="form-group">
  <label for="file">File</label>
  <input type="file"
  formControlName="file"
  id = "file"
  multiple
  class="form-crontrol"
  (change)="onFileChange($event)">

  <div class="file-upload mt2">
      <button class="btn btn-primary"
      type="button"
      (click)="multiple()">
       multiple
      </button>
  </div>

</div>
