<header class="bg-light py-5">
  <div class="containere px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-info mb-2">
            Diplomado de especializacion
          </h1>
          <h2 class="h4 fw-bolder text-info mb-2">
            {{year|date:"YYYY"}}
          </h2>
          <p class="lead text-dark-50 mb-4">
            Desarrolla tus destrezas prácticas en programación, diseño web, lenguajes, base de datos, servidores, API’s y sistemas de control de
            versiones.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center my-5">
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <div class="mt-3">
              PARA MI API
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<app-detalle></app-detalle>
